// Colours
$white:                 #FFF;
$black:                 #000;

$LightBlue:             #7bb7e4;
$LightBlueDark:         darken( $LightBlue, 10% );
$LightBlueDarker:       darken( $LightBlue, 20% );
$HomeAwayBlue:          #2a6ebb;
$HomeAwayBlueDark:      darken( $HomeAwayBlue, 10% );
$HomeAwayBlueDarker:    darken( $HomeAwayBlue, 20% );
$DarkGray:              #333;
$LightGray:             #666;
$LightestGray:          #DCDCDC;

$purple:                #8185C0;
$purpledark:             darken( $purple, 10% );
$purpledarker:           darken( $purple, 20% );
$green:                 #86C679;
$greendark:             darken( $green, 10% );
$greendarker:           darken( $green, 20% );
$yellow:                #FED863;
$yellowdark:             darken( $yellow, 10% );
$yellowdarker:           darken( $yellow, 20% );
$orange:                #F5A04F;
$orangedark:             darken( $orange, 10% );
$orangedarker:           darken( $orange, 20% );
$red:                   #ED605A;
$reddark:               darken( $red, 10% );
$reddarker:             darken( $red, 20% );
$brown:                 #AC6338;
$browndark:             darken( $brown, 10% );
$browndarker:           darken( $brown, 20% );
$tan:                   #BCAD8B;
$tandark:               darken( $tan, 10% );
$tandarker:             darken( $tan, 20% );